@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: poppins, sans-serif;
    background: #ececec;
}
:root {
    --primary: #3b5998;
    --dark: #000000;
    --light: #ffffff;
    --grey: #545454;
    --info: #2668da;
    --success: #5422be;
}

.navbar--{
    background-color: var(--success);
}

/* LOGIN CONTAINER */

.box-area{
    width: 1000px;
}


/* PANEL DE ADMINISTRADOR */



@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}